@font-face {
   font-family: 'Segoe Print' ;
   src: url('font/segoepr.ttf');
}

@font-face {
   font-family: 'Cour';
   src: url('font/courbd.ttf');
}

* {
	font-family: "Segoe Print";
}

body{
	overflow-x: hidden;
	overflow-y: auto;
}

body,html{
	background:blanchedalmond;
	width: 100%;
	height: 100%;
}

canvas{
	display: block;
	margin: auto;
	position :absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

input{
	margin: 3%;
	background: rgba(255,255,255,0.75);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px solid white;
	color: rgba(0,0,0,0.75);
	transition-duration: 1.2s;
}

input:hover{
	background: rgba(0,0,0,0.75);
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border: 2px solid black;
	color: rgba(255,255,255,0.75);
}

input:active{
	background: black;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid black;
	color: white;
}

a:not([data-atag="img"]){
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background: white;
	text-decoration: none;
	outline: none;
	color: #000;
	transition-duration: 1.2s;
}

a:not([data-atag="img"]):not(h1 a):hover{
	font-size: 24px;
}

a:not([data-atag="img"]):hover{
	background: gray;
	color: white;
}

li{
	text-shadow: 10px 10px 10px #000;
	margin-bottom: 3%;
}

textarea{
	height: 150px;
	width: 300px;
	margin: 10px;
}

.center{
	height: 100px;
	text-align:center;
}

.circle{
	border-radius: 100%;
}

#footer{
	font-family: "Cour";
	text-align:center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: 30px;
	background-color: #eee;
	z-index: 9999;
}

::-webkit-scrollbar{
	width: 20px;
	height: 1px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px gray;
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 5px gray;
	border-radius: 10px;
	background: white;
}
