@font-face {
   font-family :  'Segoe Print' ;
   src :  url('font/segoepr.ttf');
}

@font-face {
   font-family :  'Cour' ;
   src :  url('font/courbd.ttf');
}

* {
	font-family: "Segoe Print";
}

html{
	overflow: hidden;
	overflow-y:auto;
}

body,html{
	background-color:blanchedalmond;
	width: 100%;
	height: 100%;
}

canvas{
	display: block;
	margin: auto;
	position :absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


li{
	margin-bottom: 30px;
}

textarea{
	height: 150px;
	width: 300px;
	margin: 10px;
}

.center{
	height: 100px;
	text-align:center;
}

.circle{
	border-radius: 100%;
}

#footer{
	font-family: "Cour";
	text-align:center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	font-size: 30px;
	background-color: #eee;
	z-index: 9999;
}
